<style type="text/css">

    html, body {
        height: 100%;
    }
    footer {
        color: #666;
        background: #222;
        padding: 17px 0 18px 0;
        border-top: 1px solid #000;
    }
    footer a {
        color: #999;
    }
    footer a:hover {
        color: #efefef;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -63px;
    }
    .push {
        height: 63px;
    }
        /* not required for sticky footer; just pushes hero down a bit */
    .wrapper > .container {
        padding-top: 60px;
    }
    .login_active{
        display: none;
    }
    #loginForm{
        padding-top: 20px;
        /*border: #000000 solid 1px;*/
        margin-top: 1px;
        padding: 20px 20px 20px 20px;
        width: 230px;
        /*border-radius: 5px;*/

        border-radius: 3px 0 3px 3px;
    }
    #loginBox{
        width: 276px;
        background: #009fc4;
        margin-top: 35px;
        height: 250px;
        position: absolute;
    }
</style>
<div class="footer">
    <div class="container">
        <div class="footersection">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Products We Offer</a></li>
                <li><a href="#">Media Gallery</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footersection">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Binoculars & Telescopes</a></li>
                <li><a href="#">Camcorders</a></li>
                <li><a href="#">Digital Cameras</a></li>
                <li><a href="#">Camera & Photo Accessories</a></li>
                <li><a href="#">Cell Phones & Smartphones</a></li>
                <li><a href="#">Cell Phone Accessories</a></li>
            </ul>
        </div>
        <div class="footersection">
            <h4>Contact Us</h4>
            <p>220 East First Street<br />
                Bethlehem, PA 18015<br />
                In the U.S.:<br />
                1-800-869-3538<br />
                Outside U.S.:<br />
                (001) 610-882-1820<br />
                Fax: (001) 610-882-1830</p>
        </div>
        <div class="socialmedia">
            <h4>Follow Us</h4>
            <ul>
                <li class="facebook"><a href="#">Facebook</a></li>
                <li class="twitter"><a href="#">Twitter</a></li>
                <li class="googleplus"><a href="#">google Plus</a></li>
                <li class="linkedin"><a href="#">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>
</div>