<style type="text/css">

    html, body {
        height: 100%;
    }
    footer {
        color: #666;
        background: #222;
        padding: 17px 0 18px 0;
        border-top: 1px solid #000;
    }
    footer a {
        color: #999;
    }
    footer a:hover {
        color: #efefef;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -63px;
    }
    .push {
        height: 63px;
    }
        /* not required for sticky footer; just pushes hero down a bit */
    .wrapper > .container {
        padding-top: 60px;
    }
    .login_active{
        display: none;
    }
    
/* New Footer */
.footer-logo {
	margin: 0 auto;
}
.navigation {
	padding: 20px 0 15px;
	margin: 0 auto;
}
.navigation a {
	-webkit-transition: all 1s ease;
	color: #707070;
}
.navigation li {
	display: inline;
	margin: 0 0 20px;
	padding: 0 10px;
	list-style: none;
}
.copyright {
	padding: 20px 0 15px;
	margin: 0 auto;
	color: white;
	font-size: 12px;
	text-align: center;
}
</style>
<div class="footer">
		<nav class="navigation">
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/pricing">Pricing</a></li>
				<li><a href="http://help.shoplocket.com">Help</a></li>
				<li><a href="/terms">Terms</a></li>
				<li><a href="/privacy">Privacy</a></li>
				<li><a href="/jobs">Jobs</a></li>
				<li><a href="http://blog.shoplocket.com/">Blog</a></li>
				<li><a href="http://timeline.shoplocket.com">Timeline</a></li>
			</ol>
		</nav>
	<div class="navigation">
	<p class="copyright">©2012 Bucksell</p>
	</div>
</div>
</footer>



<!--    <div class="container">
        <div class="footersection">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Products We Offer</a></li>
                <li><a href="#">Media Gallery</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footersection">
            <h4>Services</h4>
            <ul>
                <li><a href="#">ecommmerce</a></li>

            </ul>
        </div>
        <div class="footersection">
            <h4>Contact Us</h4>
            <p>220 East First Street<br />
                Bethlehem, PA 18015<br />
                In the U.S.:<br />
                1-800-869-3538<br />
                Outside U.S.:<br />
                (001) 610-882-1820<br />
                Fax: (001) 610-882-1830</p>
        </div>
        <div class="socialmedia">
            <h4>Follow Us</h4>
            <ul>
                <li class="facebook"><a href="https://www.facebook.com/BuckSellcom?ref=hl">Facebook</a></li>
                <li class="twitter"><a href="https://twitter.com/bucksellcom">Twitter</a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/groups/BuckSellcom-4702786?home=&gid=4702786&trk=anet_ug_hm">LinkedIn</a></li>
            </ul>
        </div>
    </div>-->
</div>
</div>