
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".subnav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Booksell</a>
            <div class="nav-collapse subnav-collapse">
                <ul class="nav pull-right">
                    <li><a href="#"><b>Join</b></a></li>
                    <li class="divider-vertical"></li>
                    <li>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span> Sign In <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>