{% extends "site_base.html" %}
{%block javascripts%}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
     function show_message(id){
             $("#"+id).show("slow");
     };

 </script>
{%endblock%}
{% block content %}
<style type="text/css">
    .pane {
        background: #f9f9f9;
        padding: 10px 20px 30px;
        position: relative;
        border-top: solid 1px #e8eef4;
        border-bottom: solid 1px #e8eef4;
    }

    .pane .delete {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .pane {
        float: none;
        margin: 0px auto;
        width: 85%;
    }

    .pane h3 {
        font-size: 16px;
        font-weight: bold;
        color: #086bb1;
        line-height: normal;
        margin: 0px;
        padding: 0px;
    }

    .pane h4 {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        line-height: normal
    }

    .inboxpic {
        float: left;
        width: 155px;
        margin-right: 20px;
    }
</style>

<div class="innerbody" style="margin-top: 20px">
    <div class="container">
        <div class="twocolums">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li ><a href="{%url my_listing %}">Listing</a></li>
                    <li class="active"><a href="{% url message_index %}">Inbox</a></li>
                    <li>
                        <!--<div class="listingleftcontent"><img src="{{STATIC_URL}}images/listingpic.jpg"/></div>-->
                    </li>
                    <li style="float:left; width:100%; text-align:center; margin-top:20px;">
                        <!--<img src="{{STATIC_URL}}images/rightbanner.jpg"/>-->
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="lA">
                        <div class="listingright">
                        </div>

                    <div class="tab-pane" id="lB">
                        <div class="inbox">
                          {% if messages%}
                            {%for message in messages%}
                            <div class="pane">
                                <div class="inboxpic">
                                {%if message.from_user.auth_user.all.0.photo %}
                                <img src="{{message.from_user.auth_user.all.0.thumbnail.url}}" >
                                {% else %}
                                    <img src="{{STATIC_URL}}images/no-img-small.jpg">
                                {% endif %}

                               <input type="image" onclick="show_message('message{{message.id}}');" src="{{STATIC_URL}}images/reply.jpeg" ></button>
                                    <h3>
                                        {%if message.from_user.first_name and message.from_user.last_name%}
                                        {{message.from_user.first_name}}&nbsp;{{message.from_user.last_name}}
                                       {% else %}
                                        {{message.from_user.username}}
                                       {% endif %}
                                    </h3>
                                </div>
                                <a href="{% url message_delete message.id %}" alt="delete" class="delete">
                                <!--<img src="{{STATIC_URL}}images/delete.jpeg" alt="delete" class="delete"/>-->
                                <i class="icon-remove"></i>
                                </a>

                                <h4>{{message.subject}}</h4>

                                <p>{{message.body}}</p>
                                <div id="message{{message.id}}" style="display: none;">
                                <form action="{%url message_reply%}" method ="POST">{% csrf_token%}
                                    <input type="hidden" name="from_user" value="{{message.from_user.id}}"/>
                                    <textarea class="span1" rows="12" style="width: 253px; height: 74px;" name="body"></textarea>
                                    <input type="submit" value="Reply">
                                </form>

                                </div>
                                </div>

                            {% endfor %}
                            {% else %}
                            <h3 class="alert alert-info">No messages in your inbox</h3>
                            {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {%endblock%}


















