{% extends "site_base.html" %}
{% block javascripts%}

{%endblock%}


{% block content%}

<div class="span6 offset3">
    <legend>Profile Edit</legend>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#lA" data-toggle="tab">Profile</a></li>
            <li class=""><a href="#lB" data-toggle="tab">Contact Info</a></li>
            <li class=""><a href="#lC" data-toggle="tab">Security</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="lA">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="user_name">Brief Description</label>

                        <div class="controls">
                            <input type="text" id="user_name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Gender</label>

                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                                       checked>
                                Male
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Female
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Major</label>

                        <div class="controls">
                            <select>
                                <option>Major</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Degree Persuing</label>

                        <div class="controls">
                            <select>
                                <option>Degree</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Year of Class</label>

                        <div class="controls">
                            <select>
                                <option>Year</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn btn-inverse">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="lB">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="cell_phone">Cell Phone#</label>

                        <div class="controls">
                            <input type="text" id="cell_phone">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="address">Address</label>

                        <div class="controls">
                            <textarea rows="3" id="address"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="zip">Zip</label>

                        <div class="controls">
                            <input type="text" id="zip">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="zip">Visibility</label>

                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" value="">Everyone
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" value="">Same city
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" value="">Same School
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" value="">People made a deal with me
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" value="">Nobody
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn btn-inverse">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="lC">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="currentPassword">Current Password</label>

                        <div class="controls">
                            <input type="password" id="currentPassword">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="newPassword">New Password</label>

                        <div class="controls">
                            <input type="password" id="newPassword">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="confirmPassword">Confirm Password</label>

                        <div class="controls">
                            <input type="password" id="confirmPassword">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn btn-inverse">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{%endblock%}