{% extends "site_base.html" %}

{%block javascripts%}
<!--<script type="text/javascript"-->
        <!--src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzYp71CLSxqdi7d-lc1lVDdbFls3-x7GQ&sensor=false">-->
<!--</script>-->

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzYp71CLSxqdi7d-lc1lVDdbFls3-x7GQ&sensor=false">
</script>
<script type="text/javascript">
    jQuery(function(){
        jQuery("#username").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please Enter Username",
            position: "bottom"
        });
        jQuery("#password1").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please enter password ",
            position: "bottom"
        });

        jQuery("#email").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please enter the Email Id",
            position: "bottom"
        });
        jQuery("#email").validate({
            expression:"if (VAL.match(/^[^\\W][a-zA-Z0-9\\_\\-\\.]*\\@[a-zA-Z0-9_]+(\\.[a-zA-Z0-9_]+)*\\.[a-zA-Z]{2,4}$/)) return true; else return false;",
            message:"Please enter valid email address.",
            position: "bottom"
        });
        jQuery("#accept_terms").validate({
            expression: "if (isChecked(SelfID)) return true; else return false;",
            message: "You should accept the therms of Service",
            position: "bottom"
        });
    });

    $(document).ready(function(){
        console.log('hii');
        if (navigator.geolocation) {


            navigator.geolocation.getCurrentPosition(display_current_location, onErrorLocation, {timeout:3000});
        }
        else {
            alert('Error detecting your location');
        }
    });

    function onErrorLocation(error) {
        alert('Error detecting your location');
    }
    function display_current_location(position) {

        display_map(position.coords.latitude, position.coords.longitude);
    }

    function display_map(latitude, longitude) {

        $('#map_div').css('height','400');
        $('#map_div').css('width','600');

        var latlng = new google.maps.LatLng(latitude, longitude);
        var myOptions = {
            zoom:8,
            center:latlng,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_div"), myOptions);

        var marker = new google.maps.Marker({
            position:latlng,
            map:map,
            title:"My Location"
        });

    }

    function loadMap() {
        var latlng = new google.maps.LatLng(18.5236, 73.8478);
        var myOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_div"),myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"Its Me."
        });

    }

</script>

<script type="text/javascript">

    function copy_passwords(){
                          $('#password2').val($('#password1').val());
       }

</script>
{%endblock%}
{% block content%}

<!--<div class="container-fluid">-->
    <!--<div style="text-align: center; width: 100%">-->
        <!--<h3>Trade your stuff here</h3>-->
    <!--</div>-->
    <!--<div style="text-align: center; width: 100%">-->
        <!--<form class="form-inline" action="{% url registration_register %}" method="POST">{% csrf_token %}-->
            <!--<input type="text" class="input-medium register-form" placeholder="Username" name='username' id="username">-->
            <!--<input type="text" class="input-medium register-form" placeholder=".edu address" name='email' id="email">-->
            <!--<input type="password" class="input-medium register-form" placeholder="password" name="password1" id='password1' onkeyup="copy_passwords();">-->
            <!--<input type="hidden" class="input-medium register-form" placeholder="password2" name="password2" id="password2">-->
            <!--<button type="submit" class="btn btn-primary">Join</button>-->
            <!--<p><label class="checkbox" style="margin-top: 20px;">-->
                <!--<span id="accept_terms"><input type="checkbox"> I accept all Bucksell Terms of Service</span>-->
            <!--</label></p>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container">-->
    <!--<div style="text-align: center; width: 100%">-->
        <!--<h3>Like People Around You</h3>-->
    <!--</div>-->
    <!--<div class="row offset1">-->
        <!--<div id="map_div" class="span4">-->

        <!--</div>-->
        <!--<div class="container span5">-->
            <!--<div class="row">-->
                <!--<div class="span1 item-block">-->
                    <!--<img src="{{STATIC_URL}}img/64x64.png">-->
                    <!--Item Name<br>-->
                    <!--<span>$99</span>-->
                <!--</div>-->
                <!--<div class="span1 item-block">-->
                    <!--<img src="{{STATIC_URL}}img/64x64.png">-->
                    <!--Item Name<br>-->
                    <!--<span>$99</span>-->
                <!--</div>-->
                <!--<div class="span1 item-block">-->
                    <!--<img src="{{STATIC_URL}}img/64x64.png">-->
                    <!--Item Name<br>-->
                    <!--<span>$99</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="span1 item-block">-->
                    <!--<img src="{{STATIC_URL}}img/64x64.png">-->
                    <!--Item Name<br>-->
                    <!--<span>$99</span>-->
                <!--</div>-->
                <!--<div class="span1 item-block">-->
                    <!--<img src="{{STATIC_URL}}img/64x64.png">-->
                    <!--Item Name<br>-->
                    <!--<span>$99</span>-->
                <!--</div>-->
                <!--<div class="span1 item-block">-->
                    <!--<img src="{{STATIC_URL}}img/64x64.png">-->
                    <!--Item Name<br>-->
                    <!--<span>$99</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="container-fluid home-listing" style="margin-top: 30px;">-->
    <!--<div style="text-align: center; width: 100%">-->
        <!--<h3>Who we are</h3>-->
    <!--</div>-->

<!--</div>-->
<!--<div class="container-fluid home-listing" style="margin-top: 30px;">-->
    <!--<div style="text-align: center; width: 100%">-->
        <!--<h3>What we do</h3>-->

    <!--</div>-->

<!--</div>-->
<!--<div class="container-fluid home-listing" style="margin-top: 30px;">-->
    <!--<div style="text-align: center; width: 100%">-->
        <!--<h3>Interested ?</h3>-->
        <!--<a href='{% url registration_register%}' class="btn btn-primary">Join</a>-->
        <!--<button type="submit" class="btn btn-warning btn-large" style="width: 100px;">Join</button>-->
    <!--</div>-->

<!--</div>-->
<div class="bannerbg">
    <div class="container">
        <!--<div class="topbanner">-->
            <!--<img src="{{STATIC_URL}}images/banner.jpg"/>-->
        <!--</div>-->
        <div class="googlemap">
            <!--<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"-->
                    <!--src="http://maps.google.com/maps?t=m&amp;hl=en-US&amp;ie=UTF8&amp;ll=18.536909,73.965454&amp;spn=1.041622,1.645203&amp;z=9&amp;output=embed"></iframe>-->
            <div id="map_div"></div>
        </div>
        <div class="tradestuff">
            <h2>Trade your stuff here</h2>
            <!--<input type="text" value="Username"/>-->
            <!--<input type="text" value=".edu address"/>-->
            <!--<input type="text" value="Password"/>-->

            <!--<div class="accept">-->
                <!--<input name="" type="checkbox" value=""/>-->
                <!--<label>I accept the Bucksell Terms of Service </label>-->
            <!--</div>-->
            <!--<div class="join"><input name="" value="join" type="button"/></div>-->
            <form class="form-inline" action="{% url registration_register %}" method="POST">{% csrf_token %}
                <input type="text" class="input-medium register-form" placeholder="Username" name='username' id="username">
                <input type="text" class="input-medium register-form" placeholder=".edu address" name='email' id="email">
                <input type="password" class="input-medium register-form" placeholder="password" name="password1" id='password1' onkeyup="copy_passwords();">
                <input type="hidden" class="input-medium register-form" placeholder="password2" name="password2" id="password2">
                <p><label class="checkbox" style="margin-top: 20px;">
                    <span id="accept_terms"><input type="checkbox"> I accept all Bucksell Terms of Service</span>
                </label></p>
                <button type="submit" class="btn btn-primary">Join</button>
            </form>
        </div>
    </div>
</div>
<div class="bodycontent">
    <div class="container">
        <!--<div class="rightbanner">-->
            <!--<img src="images/rightbanner.jpg" />-->
        <!--</div>-->
        <!--<div class="mostpopular">-->
            <!--<h2>Most Popular Categories</h2>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
                    <!--<h3>Item Name</h3>-->
                    <!--<p>$99</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
                    <!--<h3>Item Name</h3>-->
                    <!--<p>$99</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
                    <!--<h3>Item Name</h3>-->
                    <!--<p>$99</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
                    <!--<h3>Item Name</h3>-->
                    <!--<p>$99</p>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
                    <!--<h3>Item Name</h3>-->
                    <!--<p>$99</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
                    <!--<h3>Item Name</h3>-->
                    <!--<p>$99</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
                    <!--<h3>Item Name</h3>-->
                    <!--<p>$99</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
                    <!--<h3>Item Name</h3>-->
                    <!--<p>$99</p>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="whatwedo">
            <h2>What we do</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel laoreet quam. Aenean eu ligula eu magna auctor auctor sed et eros. Donec eget magna ligula, eget tincidunt neque. Curabitur adipiscing pharetra est quis imperdiet. Nullam volutpat laoreet diam, at tincidunt diam porttitor eu. Morbi augue tellus, tempor eget consequat eget, volutpat vel felis. In hac habitasse platea dictumst.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel laoreet quam. Aenean eu ligula eu magna auctor auctor sed et eros. Donec eget magna ligula, eget tincidunt neque. Curabitur adipiscing pharetra est quis imperdiet. Nullam volutpat laoreet diam, at tincidunt diam porttitor eu. Morbi augue tellus, tempor eget consequat eget, volutpat vel felis. In hac habitasse platea dictumst.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Donec fermentum nisl at magna interdum consectetur.</li>
                <li>Vestibulum congue felis in est pharetra ut sollicitudin est tristique.</li>
                <li>Donec tincidunt malesuada enim, sed posuere dolor tincidunt vitae.</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel laoreet quam. Aenean eu ligula eu magna auctor auctor sed et eros. Donec eget magna ligula, eget tincidunt neque. Curabitur adipiscing pharetra est quis imperdiet. Nullam volutpat laoreet diam, at tincidunt diam porttitor eu. Morbi augue tellus, tempor eget consequat eget, volutpat vel felis. In hac habitasse platea dictumst.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel laoreet quam. Aenean eu ligula eu magna auctor auctor sed et eros. Donec eget magna ligula, eget tincidunt neque. Curabitur adipiscing pharetra est quis imperdiet. Nullam volutpat laoreet diam, at tincidunt diam porttitor eu. Morbi augue tellus, tempor eget consequat eget, volutpat vel felis. In hac habitasse platea dictumst.</p>
        </div>
        <div class="buyer">
            <div class="buyerimage"><img src="{{STATIC_URL}}images/buyerimage.gif" /></div>
            <div class="buyercontent"><h3>Buyer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel laoreet quam. Aenean eu ligula</p>
                <p><a href="#">Readmore</a></p>
            </div>
        </div>
        <div class="buyer">
            <div class="buyerimage"><img src="{{STATIC_URL}}images/sellerimage.gif" width="155" height="149" /></div>
            <div class="buyercontent">
                <h3>Seller</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel laoreet quam. Aenean eu ligula</p>
                <p><a href="#">Readmore</a></p>
            </div>
        </div>
        <div class="interested">
            <div class="interstblank">
                <label>Interested? </label>
                <a href="{%url registration_register%}" class="joininterest">Join</a>
            </div>
        </div>
        <!--<div class="topbanner">-->
            <!--<img src="{{STATIC_URL}}images/banner.jpg" />-->
        <!--</div>-->
    </div>
</div>
{% endblock %}