{%extends "site_base.html"%}
{% block content%}
<script type="text/javascript">
    jQuery(function(){
        jQuery("#id_email").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please Enter email",
            position: "bottom"
        });

        jQuery("#id_password").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please enter password ",
            position: "bottom"
        });
        jQuery("#id_email").validate({
            expression:"if (VAL.match(/^[^\\W][a-zA-Z0-9\\_\\-\\.]*\\@[a-zA-Z0-9_]+(\\.[a-zA-Z0-9_]+)*\\.[a-zA-Z]{2,4}$/)) return true; else return false;",
            message:"Please enter valid email address.",
            position: "bottom"
        });
    });
</script>
<div class="hero-unit">

    <div class="offset2">
        <legend><h2 class="header">Sign In</h2></legend>

        <form class="form-inline" method="post" action=".">{% csrf_token %}
            <!--{{form.email.errors}}-->
            {{form.email}}
            <!--<input type="text" class="input-medium register-form" placeholder="Username">-->
            <!--<input type="password" class="input-medium register-form" placeholder="Password">-->
            <!--{{form.password.errors}}-->
            {{form.password}}
            <button type="submit" class="btn btn-primary">Sign In</button><br />
            <span><a href="{% url password_reset %}">Forgot your password?</a></span>
        </form>
        <hr class="hr_line" />
        Dont have Bucksell account? <a href="{% url registration_register %}" style="text-decoration: none;"><span class="label label-info">Join Here</span></a>
    </div>
</div>

<!--<form action="." method="post">{% csrf_token %}-->
    <!--{{form.as_p}}-->
    <!--<input type="submit" value="Submit" />-->
<!--</form>-->
{% endblock %}