{% extends "site_base.html" %}
{%block javascripts%}
        {% endblock%}
{% block content%}

	<div class="bodycontent" style="margin-top: 20px">
    	<div class="container">    		
    		<h3>If you have any questions, please submit them to support@bucksell.com</h3>
    		
    		<form action="MAILTO:support@bucksell.com" method="post" enctype="text/plain">
    		Name:<br>
    		<input type="text" name="name" value=""><br>
    		E-mail:<br>
    		<input type="text" name="mail" value=""><br>
    		Comment:<br>
    		<input type="text" name="comment" value="" size="2000" style="height: 200px!important; width: 351px;"><br><br>
    		<input type="submit" value="Send">
    		<input type="reset" value="Reset">
    		</form>
    		
    		</body>
    		</html>
    		
    		
    	</div>
    </div>
        {% endblock %}