{% extends "site_base.html" %}
{%block javascripts%}
        {% endblock%}
{% block content%}
<div class="bodycontent" style="margin-top: 20px">
    <div class="container">
		<h2>Trust and Safety</h2>
		Real people and money are involved in the transactions of BuckSell marketplace; therefore, it’s essential to protect customers’ interests and use common sense.
		<h2>Payment</h2>
		The main method for online monetary transactions will be through the PayPal system, given its strong reputation as a fast, reliable, and sage service.
		For buyers, please don’t pay until you receive the item and make sure that the item or service is what you asked for and it is complete. Once you click “Pay” or hand over cash, there might not be a change to have your money back, so please be careful when you make your payments!
		
		For sellers, please make sure you get paid on the right spot. When you are paid though PayPal on BuckSell.com, wait for the buyers to press “Pay” and wait to receive an email informing the payment transaction. We do not recommend accepting checks, money orders or other methods of payment due to risks of fraud. PayPal via BuckSell.com or cash would be the best Payment methods.
		<h2>Customer Safety</h2>
		<ul>
			<li>Always meet on your campus or other public spaces and avoid doing large cash transactions.</li>
			<li>Be careful with your personal information (e.g. your name, address, phone number, campus email, etc.) BuckSell.com allows customers to communicate directly with buyers and sellers, so there will be no need to share your personal information with others.</li>
			<li>Only accept payment by PayPal via BuckSell.com or in cash. Don’t accept checks, money orders, or other methods of payment.</li>
		</ul>
		<h2>Dispute Resolution</h2>
		Because transactions take place between you and other person and BuckSell.com assumes you and others will behave under the federal and local law, BuckSell will not be able to mediate disagreements or issue refunds under any circumstances. If you feel you have been deceived by any means, please contact your local law office for help. It is extremely important for BuckSell.com to keep its transactions and marketplace secure, so please provide us with a copy of the police report by contacting us through support@bucksell.edu so we may take actions to improve our platform.
		<h2>Deal Guidelines</h2>
		All products and services posted on Bucksell.com must be in accordance with all local, state and federal laws and regulations. It is prohibited to make posts about products and services that are illegal in your area.
		
		Your information stays confidential within our database. Do not share it with anyone. We encourage you not to include your personal information, such as name, email address, personal cell etc in item description. The seller will get the required information from us upon closing the deal. To maintain our service trustworthy and safe, we ask you to communicate only through Bucksell.com messaging system.
		
		Even though, you are capable of creating any post you wish, some products and services are strictly prohibited. For example:
		
		Sexual activity, or goods and services for such purpose of sexual gratification. Note that contraception items are permitted:
		<ul>
			<li>Alcohol, drugs (prescription and paraphernalia), tobacco products or other controlled substances. Note that over-the-counter drugs are permitted</li>
			<li>Medical devices and controlled substances</li>
			<li>Weapons of any kind and type</li>
			<li>Any unlawful activity like soliciting, inducing/encouraging of illegal acts. Note that this includes requesting crime-related items.</li>
			<li>Any animal and biological organism that is illegal to sell in your area. Note that this includes plants and insects</li>
			<li>Goods that are under embargo</li>
			<li>Blood and body parts. Note that this includes other human liquids.</li>
			<li>Any burglary tools, false documents and parts for manufacturing explosive substances</li>
			<li>Anything that violates trademarks, copyrights or other rights</li>
			<li>Counterfeit or fraudulent items</li>
			<li>Child pornography or anything harmful to minors</li>
			<li>Drugs that might require FDA approval</li>
			<li>Anything that promotes hatred, violence and discrimination against specific groups of people</li>
			<li>Any illegal services, including prostitution of any kind</li>
			<li>Financial assets: stocks and securities</li>
			<li>Any stolen items or items that have serial number removed/altered</li>
			<li>Fireworks, including crackers</li>
			<li>Items that may contain hazardous pesticides or substances</li>
			<li>Content that can intentionally or unintentionally violate any applicable local, state, national or international law, or any regulations having the force of law, including the Civil Rights Act of 1866, the Fair Housing Act, the Americans with Disabilities Act, and the Equal Credit Opportunity Act.]</li>
		</ul>
		<p>If you believe or suspect a post violates these guidelines immediately report to support@bucksell.com. Please do not hesitate. We will review the post instantly.
		<p>
		Thank you for your time reading this. We sincerely appreciate it! We encourage you to use good judgment in following these policies. With your help, we are building the most trustworthy and safe environment!
		<br><br><br>
		<p>Best regards,
		<p>
		<p><strong>Bucksell.com Team</strong>

	</div>
</div>
        {% endblock %}