{% extends "site_base.html" %}
{%block javascripts%}
{% endblock%}
{% block content%}

<div class="bodycontent" style="margin-top: 20px">
<div class="container" style="text-align: justify">

<h3>USER AGREEMENT</h3>
<p>
The following describes the terms on which Esperon Technology, LLC offers you
access to our services. BUCKSELL.COM is an entity owned and operated by Esperon
Technology, LLC.
</p>
<h4>Introduction</h4>
<p>
Welcome to BUCKSELL.COM. By using BUCKSELL.COM and its related sites,
services and tools), you agree to the following terms with Esperon Technology Inc. and
the general principles for the websites. If you reside outside of the United States, you are
contracting with Esperon Technology, LLC, a Pennsylvania Limited Liability Company.
If you have any questions, please refer to our help section. This Agreement is effective
on March 25, 2012.
</p>
<p>
<h4>Scope</h4>
Before you may become a member of BUCKSELL.COM, you must read and accept all
of the terms in, and linked to, this User Agreement and the Esperon Technology Privacy
Policy. We strongly recommend that, as you read this User Agreement, you also access
and read the linked information. By accepting this User Agreement, you agree that this
User Agreement will apply whenever you use Esperon Technology sites or services, or
when you use the tools we make available to interact with Esperon Technology sites and
services.
</p>
<p>
<ul> Using BUCKSELL.COM and Esperon Technology sites
While using Esperon Technology sites, services and tools, you will not:
<li>post content or items in an inappropriate category or areas on our sites and
services;
<li>violate any laws, third party rights or our policies</li>

<li>use our sites, services or tools if you are not able to form legally binding
contracts, are under the age of 18, or are temporarily or indefinitely suspended
from using our sites, services or tools;</li>
    <li>
fail to deliver payment for items purchased by you, unless the seller has materially
changed the item's description after you bid, a clear typographical error is made,
or you cannot authenticate the seller's identity;</li>

<li>fail to deliver items purchased from you, unless the buyer fails to meet the posted
terms, or you cannot authenticate the buyer's identity;
</li>
   <li>manipulate the price of any item or interfere with other users' listings;</li>

    <li>circumvent or manipulate our fee structure, the billing process, or fees owed to
Esperon Technology;</li>
    <li>post false, inaccurate, misleading, defamatory, or libelous content (including
personal information);</li>
    <li>take any action that may undermine the feedback or ratings systems (such as
displaying, importing or exporting feedback information off of the sites or using it
for purposes unrelated to BUCKSELL.COM);
    </li>
    <li>transfer your BUCKSELL.COM account (including feedback) and User ID to
another party without our consent;
    </li>

    <li>distribute or post spam, unsolicited, or bulk electronic communications, chain
letters, or pyramid schemes;
    </li>
    <li>distribute viruses or any other technologies that may harm BUCKSELL.COM, or
the interests or property of BUCKSELL.COM users;</li>
    <li>export or re-export any Esperon Technology tools except in compliance with the
export control laws of any relevant jurisdictions;</li>
    <li>copy, modify or distribute rights or content from the Esperon Technology sites,
service or tools or Esperon Technology's copyrights and trademarks; </li> <li>or
harvest or otherwise collect information about users, including email addresses,
without their consent.
</ul>
<p>
Abusing Esperon Technology
Please report problems, offensive content, and policy violations to us.
</p>
<p>
Without limiting other remedies, we may limit, suspend or terminate our service and
user accounts, prohibit access to our sites and their content, services and tools, delay
or remove hosted content, and take technical and legal steps to keep users off the sites
if we think that they are creating problems or possible legal liabilities, infringing the
intellectual property rights of third parties, or acting inconsistently with the letter or spirit
of our policies
</p>
<p>
Additionally, we may, in appropriate circumstances and at our discretion, suspend or
terminate accounts of users who may be repeat infringers of intellectual property rights
of third parties. We also reserve the right to cancel unconfirmed accounts or accounts that
have been inactive for a long time, or to modify or discontinue Esperon Technology sites,
services or tools.
</p>
<p>
<h4>Buyer Protection</h4>
Buyers and sellers share the responsibility for making sure purchases facilitated by
BUCKSELL.COM are exciting, rewarding and hassle-free. We strongly encourage
buyers to work with sellers before opening a claim relating to a purchase. Buyers and
sellers agree to follow the requirements of the BUCKSELL.COM Buyer Protection
Policy with respect to claims. BUCKSELL.COM Buyer Protection covers only claims
filed in accordance with the BUCKSELL.COM Buyer Protection Policy. We may
suspend the BUCKSELL.COM Buyer Protection Policy without notice if we suspect
abuse or interference with the proper working of the program.
We require BUCKSELL.COM sellers to comply with our resolution process. Buyers and
sellers permit us to make a final decision, in our sole discretion, on any claim that a buyer
files with BUCKSELL.COM under the BUCKSELL.COM Buyer Protection Policy. If
we resolve a dispute in the buyer's favor, we will refund the buyer for the full cost of the
item (including any applicable sales taxes) and the original shipping, and we will require
the seller to reimburse us for the amount due to the buyer.
</p>
<ul>
In addition:
    <li>Sellers must have a reimbursement method on file with BUCKSELL.COM.</li>

Sellers agree to allow us to remove funds from their PayPal accounts for amounts
due to buyers. Sellers may change this reimbursement method by contacting
BUCKSELL.COM. However, we reserve the right to continue using seller
PayPal accounts for BUCKSELL.COM Buyer Protection cases associated with
BUCKSELL.COM.CO transactions paid for before the change.</li>
    <li>Where there are insufficient funds in PayPal accounts or where PayPal is not the
reimbursement method of a seller, we will require another reimbursement method.</li>
    <li>Sellers agree to allow us to charge the payment method they designate for
amounts due buyers.</li>
Changing a reimbursement method will not affect BUCKSELL.COM’S use of a payment
method on file for other purposes (such as payment of your BUCKSELL.COM fees). If
sellers do not provide BUCKSELL.COM with a valid reimbursement method, we may
collect amounts owed using other collection mechanisms, including retaining collection
agencies. We may also suspend or restrict sellers from trading on our sites until payment
is made.</li>
    <li>Correcting Mistakes in Payments to Buyers or Sellers. We reserve the
right to fix any processing errors we discover. We will correct any processing
errors by debiting or crediting the payment method used for the erroneous
BUCKSELL.COM Buyer Protection refund or reimbursement.</li>
</ul>
<p>
<h4>Holds</h4>
To protect against the risk of liability, BUCKSELL.COM has at times requested, and
may continue to request, that PayPal hold seller funds based on certain factors, including,
but not limited to, selling history, seller performance, riskiness of the listing category, or
the filing of a BUCKSELL.COM.CO Buyer Protection claim. PayPal has held, and will
continue to hold, seller funds pursuant to the terms of the PayPal User Agreement, PayPal
policies and any other agreement entered into between PayPal and its users.
</p>
<p>
Unless otherwise stated, all fees are quoted in U.S. Dollars. You are responsible for
paying all fees and applicable taxes associated with our sites and services in a timely
manner with a valid payment method. If your payment method fails or your account is
past due, we may collect fees owed using other collection mechanisms. (This includes
charging other payment methods on file with us, retaining collection agencies and legal
counsel, and for accounts over 180 days past due, deducting the amount owed from your
PayPal account balance.)
</p>
<p>
<h4>Content</h4>
When you give us content, you grant us a non-exclusive, worldwide, perpetual,
irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise any and
all copyright, trademark, publicity, and database rights (but no other rights) you have in
the content, in any media known now or in the future.
</p>
<p>

<h4>Limitation of Liability</h4>
You will not hold Esperon Technology or BUCKSELL.COM responsible for other
users' content, actions or inactions, items they list or their destruction of allegedly fake
items. Our sites are venues to allow anyone to offer, sell, and buy just about anything,
at anytime, from anywhere, in a variety of pricing formats and locations, such as stores,
fixed price formats. We are not involved in the actual transaction between buyers and
sellers. While we may help facilitate the resolution of disputes through various programs,
we have no control over and do not guarantee the quality, safety or legality of items
advertised, the truth or accuracy of users’ content or listings, the ability of sellers to
sell items, the ability of buyers to pay for items, or that a buyer or seller will actually
complete a transaction or return an item.
</p>
<p>
We do not transfer legal ownership of items from the seller to the buyer. Further, we
cannot guarantee continuous or secure access to our sites, services or tools, and operation
of our sites, services or tools may be interfered with by numerous factors outside of our
control. Accordingly, to the extent legally permitted, we exclude all implied warranties,
terms and conditions. We are not liable for any loss of money, goodwill or reputation, or
any special, indirect or consequential damages arising, directly or indirectly, out of your
use of or your inability to use our sites, services and tools.
</p>
<p>
Regardless of the previous paragraphs, if we are found to be liable, our liability to
you or to any third party is limited to the greater of (a) any amounts due under the
BUCKSELL.COM Buyer Protection Policy up to the full cost of the item (including any
applicable sales tax) and its original shipping costs, (b) the total fees you paid to us in the
12 months prior to the action giving rise to the liability, and (c) $100.
</p>
<P>
<h4>Release</h4>
If you have a dispute with one or more users, you release us (and our officers, directors,
agents, subsidiaries, joint ventures and employees) from claims, demands and damages
(actual and consequential) of every kind and nature, known and unknown, arising out of
or in any way connected with such disputes.
</P>
<p>
<h4>Listing Conditions</h4>
By listing an item on BUCKSELL.COM, you agree to pay Esperon Technology’s
fees for such, assume full responsibility for the content of the listing and item
offered, and accept the following listing conditions: When you list an item on
BUCKSELL.COM, your listing will be posted on BUCKSELL.COMCOM and can be
viewed in My BUCKSELL.COM. Your listing may not be immediately searchable by
keyword or category for several hours (or up to 24 hours in some circumstances), so
BUCKSELL.COM can’t guarantee exact listing durations. Where your listing appears in
search and browse results may be based on certain factors including listing format, title,
end time, keywords, price and shipping cost, feedback, and detailed seller ratings.
</P>
<p>
<h4>Indemnity</h4>
You will indemnify and hold us (and our officers, directors, agents, subsidiaries, joint
ventures and employees) harmless from any claim or demand, including reasonable
attorneys' fees, made by any third party due to or arising out of your breach of this
Agreement, or your violation of any law or the rights of a third party.
</P>
<p>
<h4>No Agency</h4>
No agency, partnership, joint venture, employee-employer or franchiser-franchisee
relationship is intended or created by this Agreement.
</P>
<p>
<h4>Notices</h4>
Except as explicitly stated otherwise, legal notices shall be served on Esperon
Technology's national registered agent (in the case BUCKSELL.COM) or to the email
address you provide to BUCKSELL.COM during the registration process (in your case).
Notice shall be deemed given 24 hours after email is sent, unless the sending party is
notified that the email address is invalid. Alternatively, we may give you legal notice by
mail to the address provided during the registration process. In such case, notice shall be
deemed given three days after the date of mailing.
</P>
<h4>Legal Disputes</h4>
If a dispute arises between you and Esperon Technology, our goal is to provide you
with a neutral and cost effective means of resolving the dispute quickly. Accordingly,
you and BUCKSELL.COM agree that we will resolve any claim or controversy at law
or equity that arises out of this Agreement or our services (a "Claim") in accordance
with one of the subsections below or as we and you otherwise agree in writing. Before
resorting to these alternatives, we strongly encourage you to first contact us directly to
seek a resolution. We will consider reasonable requests to resolve the dispute through
alternative dispute resolution procedures, such as mediation or arbitration, as alternatives
to litigation.
<ul>
<li><b>Law and Forum for Legal Disputes -</b> This Agreement shall be governed
in all respects by the laws of the State of Pennsylvania as they apply to
agreements entered into and to be performed entirely within Pennsylvania
between Pennsylvania residents, without regard to conflict of law provisions.
You agree that any claim or dispute you may have against Esperon Technology
or BUCKSELL.COM must be resolved exclusively by a state or federal court
located in Philadelphia County, Pennsylvania, except as otherwise agreed by the
parties or as described in the Arbitration Option paragraph below. You agree
to submit to the personal jurisdiction of the courts located within Philadelphia
County, Pennsylvania for the purpose of litigating all such claims or disputes.
</li>
<li><b>Arbitration Option - </b>For any claim (excluding claims for injunctive or other
equitable relief) where the total amount of the award sought is less than $10,000,
the party requesting relief may elect to resolve the dispute in a cost effective
manner through binding non-appearance-based arbitration. In the event a party
elects arbitration, they shall initiate such arbitration through an established
alternative dispute resolution ("ADR") provider mutually agreed upon by the
parties. The ADR provider and the parties must comply with the following rules:
(a) the arbitration shall be conducted by telephone, online and/or be solely based
on written submissions, the specific manner shall be chosen by the party initiating
the arbitration; (b) the arbitration shall not involve any personal appearance by the
parties or witnesses unless otherwise mutually agreed by the parties; and (c) any
judgment on the award rendered by the arbitrator may be entered in any court of
competent jurisdiction.</li>
    <li>
<b>Improperly Filed Claims - </b>All claims you bring against Esperon Technology
or BUCKSELL.COM must be resolved in accordance with this Legal Disputes
Section. All claims filed or brought contrary to the Legal Disputes Section shall
be considered improperly filed. Should you file a claim contrary to the Legal
Disputes Section, Esperon Technology or BUCKSELL.COM may recover
attorneys' fees and costs up to $1000, provided that Esperon Technology or
BUCKSELL.COM has notified you in writing of the improperly filed claim, and
you have failed to promptly withdraw the claim.
    </li>
</ul>
<p>
<h4><u>How To Register:</u></h4>
    <ul style="list-style: none">
To register, go to the registration page, and follow these steps:
<li><b>1.Enter your contact and personal information.</b><br>
Your contact information includes your name, address, and phone number. Personal
information includes your date of birth to verify that you are at least 18 years of age.</li>
    <li><b>2.Enter your email address.</b><br>
You need to enter a working email address that you can check immediately, because
we’ll send you an email with instructions to complete your registration. We’ll also use
this email address to notify you, and to share shipping and payment information with
other buyers and sellers.</li>
    <li><b>3.Read and accept our User Agreement and Privacy Policy.</b><br>
You must accept the agreement to continue registering.</li>
    <li><b>4.Choose a user ID, password, and secret question.</b><br>
You’ll use your user ID and password every time you sign in to BUCKSELL.COM.
Your secret question helps us identify you in case you forget your password and ask us
to help you reset it.</li>
    <li><b>5.Check your email.</b><br>
You’ll receive a registration email from us. Follow the instructions in the email to
confirm your registration and complete the registration process.</li>
</ul>
</P>
</div></div>
        {% endblock %}