<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.8.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzYp71CLSxqdi7d-lc1lVDdbFls3-x7GQ&sensor=false">
    </script>
    <script type="text/javascript">
        function loadMap() {
            var latlng = new google.maps.LatLng(18.5236, 73.8478);
            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_div"),myOptions);

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"my hometown, Malim Nawar!"
            });

        }
    </script>
    <style type="text/css">
        <style>
        html, body {
            height: 100%;
        }
        footer {
            color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;
        }
        footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
            /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 60px;
        }
    </style>
</head>
<body onload="loadMap()">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Bucksell</a>

            <div class="nav-collapse">
            </div>
            <ul class="nav pull-right">
                <li><a href="#">Join</a></li>
                <li class="divider-vertical"></li>
                <li>
                    <div id="loginContainer">
                        <button id="loginButton" class="btn"><span>Login</span><em></em></button>
                        <div style="clear:both"></div>
                        <div id="loginBox" style="display: none; ">
                            <form id="loginForm">
                                <fieldset id="body">
                                    <fieldset>
                                        <label for="email1">Email Address</label>
                                        <input type="text" name="email" id="email1">
                                    </fieldset>
                                    <fieldset>
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password">
                                    </fieldset>
                                    <input type="submit" id="login" value="Sign in">
                                    <label for="checkbox"><input type="checkbox" id="checkbox">Remember me</label>
                                </fieldset>
                                <span><a href="#">Forgot your password?</a></span>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container main">
    <div class="container-fluid">
        <div style="text-align: center; width: 100%">
            <h3>Trade your stuff here</h3>
        </div>
        <div style="text-align: center; width: 100%">
            <form class="form-inline">
                <input type="text" class="input-medium register-form" placeholder="Username">
                <input type="text" class="input-medium register-form" placeholder=".edu address">
                <input type="password" class="input-medium register-form" placeholder="Password">
                <button type="submit" class="btn btn-primary">Join</button>
                <p><label class="checkbox" style="margin-top: 20px;">
                    <input type="checkbox"> I accept all Bucksell Terms of Service
                </label></p>
            </form>
        </div>
    </div>

    <div class="container">
        <div style="text-align: center; width: 100%">
            <h3>Like People Around You</h3>
        </div>
        <div class="row offset1">
            <div id="map_div" class="span1">

            </div>
            <div class="container span5">
                <div class="row">
                    <div class="span1 item-block">
                        <img src="img/64x64.png">
                        Item Name<br>
                        <span>$99</span>
                    </div>
                    <div class="span1 item-block">
                        <img src="img/64x64.png">
                        Item Name<br>
                        <span>$99</span>
                    </div>
                    <div class="span1 item-block">
                        <img src="img/64x64.png">
                        Item Name<br>
                        <span>$99</span>
                    </div>
                </div>
                <div class="row">
                    <div class="span1 item-block">
                        <img src="img/64x64.png">
                        Item Name<br>
                        <span>$99</span>
                    </div>
                    <div class="span1 item-block">
                        <img src="img/64x64.png">
                        Item Name<br>
                        <span>$99</span>
                    </div>
                    <div class="span1 item-block">
                        <img src="img/64x64.png">
                        Item Name<br>
                        <span>$99</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid home-listing" style="margin-top: 30px;">
        <div style="text-align: center; width: 100%">
            <h3>Who we are</h3>
        </div>

    </div>
    <div class="container-fluid home-listing" style="margin-top: 30px;">
        <div style="text-align: center; width: 100%">
            <h3>What we do</h3>

        </div>

    </div>
    <div class="container-fluid home-listing" style="margin-top: 30px;">
        <div style="text-align: center; width: 100%">
            <h3>Interested ?</h3>
            <button type="submit" class="btn btn-warning btn-large" style="width: 100px;">Join</button>
        </div>

    </div>
</div>
<footer>
    <div class="container">
        <p>&copy 2012 Bucksell. All rights reserved | <a href="#">Privacy Policy </a>| <a href="#">Terms of Service </a> </p>
    </div>
</footer>
</body>
</html>