<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.8.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="js/bootstrap-popover.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a[rel=popover]")
                    .popover({
                        offset: 10
                    })
                    .click(function(e) {
                        e.preventDefault()
                    })
        });
//        $('#login').popover('toggle');
    </script>
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -60px;
        }
        #push,
        #footer {
            height: 60px;
        }
    </style>
    </head>
<body style="padding-top: 200px; padding-left: 200px">
<!--<a href="#" id="login" class="btn btn-large btn-danger" rel="popover"-->
   <!--data-content="<div><label for='email1'>Email Address</label>-->
<!--<input type='text' name='email' id='email1'>-->
<!--<label for='password'>Password</label>-->
<!--<input type='password' name='email' id='password'></div>"-->
   <!--data-placement="bottom" data-html="true">Click to toggle popover</a>-->


<!--<div class="dropdown">-->
    <!--&lt;!&ndash; Link or button to toggle dropdown &ndash;&gt;-->
    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
        <!--<li><a tabindex="-1" href="#">Action</a></li>-->
        <!--<li><a tabindex="-1" href="#">Another action</a></li>-->
        <!--<li><a tabindex="-1" href="#">Something else here</a></li>-->
        <!--<li class="divider"></li>-->
        <!--<li><a tabindex="-1" href="#">Separated link</a></li>-->
    <!--</ul>-->
<!--</div>-->
<div id="footer">
    <div class="container">
        <p>Put together by <a href="http://www.martinbean.co.uk/" rel="author">Martin Bean</a></p>
    </div>
</div>
</body>

</body>
</html>