{% extends "site_base.html" %}
{%block javascripts%}
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzYp71CLSxqdi7d-lc1lVDdbFls3-x7GQ&sensor=false">
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/locator.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#location_tab').hide();
        $('#map_canvas').css('width', window.innerWidth - 900).css('height', window.innerHeight - 350);
        getLocation();
    });
    $(document).on('click', '#pics_tab', function () {
        if ($('#id_name').attr('rel') == 'tooltip' || $('#id_price').attr('rel') == 'tooltip' ||
                $('#id_description').attr('rel') == 'tooltip' || $('#id_category').attr('rel') == 'tooltip'
                || $('#id_name').val() == '' || $('#id_price').val() == '' || $('#id_description').val() == '' || $('#id_category').val() == '') {

            $('#message').css('display','block');
            $("#message").fadeOut(5000,"linear");
        }
        else {
            $('#p_tab').addClass('active');
            $('#info_tab').removeClass('active');
            $('#home').removeClass('active');
            $('#profile').addClass('fade active in');
        }
    })
    $(document).on('click', '#loc_tab', function () {
        $('#location').addClass('active');
        $('#p_tab').removeClass('active');
        $('#profile').removeClass('active');
        $('#location_tab').addClass('fade active in');
        $('#location_tab').show();
    });
    $(document).on('click', '#inf_tab', function () {
        $('#info_tab').addClass('active');
        $('#p_tab').removeClass('active');
        $('#profile').removeClass('active');
        $('#home').addClass('fade active in');
    });
    $(document).on('click', '#back_pics_tab', function () {
        $('#p_tab').addClass('active');
        $('#location').removeClass('active');
        $('#location_tab').removeClass('active');
        $('#profile').addClass('fade active in');
        $('#location_tab').hide();
    });
//    $(document).on('click','#p_tab',function(e){
//        e.preventDefault();
//        $(this).removeClass('active');
//
//    });
    jQuery(function () {
        jQuery("#id_name").validate({
            expression:"if (VAL) return true; else return false;",
            message:"Please Item Name",
            position:"right"
        });
        jQuery("#id_price").validate({
            expression:"if (VAL) return true; else return false;",
            message:"Please Item price",
            position:"right"
        });
        jQuery("#id_description").validate({
            expression:"if (VAL) return true; else return false;",
            message:"Please Item description",
            position:"right"
        });
        jQuery("#id_category").validate({
            expression:"if (VAL) return true; else return false;",
            message:"Please select category",
            position:"right"
        });
        jQuery("#id_price").validate({
            expression:"if (VAL.match(/^[0-9]*$/) && VAL) return true; else return false;",
            message:"Please enter valid price",
            position:"right"
        });
    });
</script>
{%endblock%}
{% block content%}
<div class="alert alert-error offset3 span5" style="display: none;" id="message">
<div class="offset1">Please enter valid data !!!</div>
</div>
<div class="offset1">
    <div class="container-fluid ">
        <ul id="myTab" class="nav nav-tabs span10">
            <li class="active offset1" id="info_tab"><a href="#home" data-toggle="tab">1. Basic Info</a></li>
            <li id="p_tab"><a href="#">2. Pics</a></li>
            <li id="location"><a href="#">3. Location</a></li>
        </ul>
    </div>
    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="home">
            <form class="form-horizontal" id="item_form" method="POST" action=".">{% csrf_token %}

                <div class="control-group">
                    <label class="control-label">Item Name <span style="color: red;">*</span></label>

                    <div class="controls">
                        <!--<input type="text" id="item_name">-->
                        {{form.name.errors}}
                        {{form.name}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Category <span style="color: red;">*</span></label>

                    <div class="controls">
                        {{form.category.errors}}
                        {{form.category}}
                        <!--<select>-->
                        <!--<option>Books</option>-->
                        <!--<option>Music</option>-->
                        <!--<option>Services</option>-->

                        <!--</select>-->
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Condition <span style="color: red;">*</span></label>

                    <div class="controls">
                        {{form.condition.errors}}
                        {{form.condition}}

                        <!--<label class="radio">-->
                        <!--<input type="radio" name="item_condition" id="mint" value="mint" checked>-->
                        <!--Mint-->
                        <!--</label>-->
                        <!--<label class="radio">-->
                        <!--<input type="radio" name="item_condition" id="like_new" value="like_new" checked>-->
                        <!--Like New-->
                        <!--</label>-->
                        <!--<label class="radio">-->
                        <!--<input type="radio" name="item_condition" id="fair" value="fair" checked>-->
                        <!--Fair-->
                        <!--</label>-->
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Price <span style="color: red;">*</span></label>

                    <div class="controls">
                        <!--<input type="text" id="item_price">-->
                        {{form.price.errors}}
                        {{form.price}}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Description <span style="color: red;">*</span></label>

                    <div class="controls">
                        <!--<textarea rows="3" id="item_description"></textarea>-->
                        {{form.description.errors}}
                        {{form.description}}
                    </div>
                </div>

            <button type="button" class="btn btn-primary offset5" id="pics_tab">Next</button>
            {{form.latitude}}
            {{form.longitude}}

        </div>
        <div class="tab-pane fade" id="profile">
            <div class="container-fluid">
                <div>
                    <h4>Choose Files :</h4>
                </div>
                <div class="item-listing">
                    {{form.image1}}
                    {{form.image2}}
                    {{form.image3}}
                    <!--<img src="{{STATIC_URL}}img/item_pics.jpg" class="img-polaroid item-img">-->
                    <!--<img src="{{STATIC_URL}}img/item_pics.jpg" class="img-polaroid item-img">-->
                    <!--<img src="{{STATIC_URL}}img/item_pics.jpg" class="img-polaroid item-img">-->
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="inf_tab">Previous</button>
            <button type="button" class="btn btn-primary offset5" id="loc_tab">Next</button>
        </div>
        </form>
        <div class="tab-pane fade" id="review_tab">
            <div class="container-fluid">

                <div class="item-listing" style="text-align: center; width: 100%">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="" id="location_tab">
    <div class="container-fluid">
        <div class="offset3">
            <h4>Pin point your item on the map</h4>
        </div>
        <div class="offset2">
            <div id="map_canvas" class="big_map"></div>
        </div>
        <button type="button" class="btn btn-primary" id="back_pics_tab">Previous</button>
        <button type="submit" class="btn btn-warning offset6">Submit Item</button>
    </div>
</div>
{% endblock %}