{% extends "site_base.html" %}

{%block javascripts%}
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzYp71CLSxqdi7d-lc1lVDdbFls3-x7GQ&sensor=false">
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/locator.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#map_canvas').css('width', window.innerWidth - 600).css('height', window.innerHeight - 150);

            getLocation();
    });

    $(document).on('click','#map_tab',function(){
        $('#map_tab_content').addClass('active');
        $('#list_tab_content').removeClass('active');
    });
    $(document).on('click','#list_tab',function(){
        $('#list_tab_content').addClass('active');
        $('#map_tab_content').removeClass('active');
    });
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <ul class="breadcrumb span10">
            <li><a href="#">PA</a> <span class="divider"> > </span></li>
            <li><a href="#">Lewisburg</a> <span class="divider"> > </span></li>
            <li class="active">Bucknell U</li>
        </ul>
        <div class="btn-group span1" data-toggle="buttons-radio" id="btn_grp">
            <button type="button" class="btn btn-primary active" id="map_tab">Map</button>
            <button type="button" class="btn btn-primary" id="list_tab">List</button>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span2">
            <form>
                <label>Refine Location</label>
                <input type="text" placeholder="City or university" class="span12">
                <label>Categories</label>
                {% for category in categories%}
                <label class="checkbox">
                    <input type="checkbox"> {{category}}
                </label>
                {% endfor %}
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox"> Books-->
                <!--</label>-->
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox"> Electronics-->
                <!--</label>-->
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox"> Music-->
                <!--</label>-->
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox"> Movie-->
                <!--</label>-->
            </form>
            <div class="btn-group span2" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary active">For sell</button>
                <button type="button" class="btn btn-primary">Wanted</button>
            </div>
        </div>
        <div class="tab-content span8">
            <div class="tab-pane active" id="map_tab_content">
                <div id="map_canvas" class="span1 big_map">
                </div>
            </div>
            <div class="tab-pane" id="list_tab_content">
                <div class="span2 item-block">
                    <img src="img/64x64.png">
                    Item Name<br>
                    <span>$99</span>
                </div>
                <div class="span2 item-block">
                    <button class="btn">Buy</button>
                    <button class="btn">Wish</button>
                </div>
            </div>
        </div>
        <div class="span2 item-info">
            <div class="row item-info1">
                <img src="{{STATIC_URL}}img/100x100.png" class="img-polaroid offset2">
                <span class="offset3">Item Name</span>
            </div>
            <div class="row item-info1 offset1">
                Seller : <img src="{{STATIC_URL}}img/user_32.png">
            </div>
            <div class="row item-info1">
                <label>Description</label>

                <div class="description">
                    Demo description
                    Demo description Demo description Demo description Demo description
                    Demo description Demo description Demo descriptionDemo description
                </div>
                <button type="button" class="btn btn-primary">View Detail</button>
            </div>
        </div>
    </div>

{% endblock %}