{% extends "site_base.html" %}
{%block javascripts%}
{%endblock%}
{% block content %}
<style type="text/css">
    .pane {
        background: #f9f9f9;
        padding: 10px 20px 30px;
        position: relative;
        border-top: solid 1px #e8eef4;
        border-bottom: solid 1px #e8eef4;
    }

    .pane .delete {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .pane {
        float: none;
        margin: 0px auto;
        width: 85%;
    }

    .pane h3 {
        font-size: 16px;
        font-weight: bold;
        color: #086bb1;
        line-height: normal;
        margin: 0px;
        padding: 0px;
    }

    .pane h4 {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        line-height: normal
    }

    .inboxpic {
        float: left;
        width: 155px;
        margin-right: 20px;
    }
</style>
<!--<a href="{% url message_index %}">Inbox</a>-->


<!--<div class="tabbable span8"> -->
<!-- Only required for left/right tabs -->
<!--<ul class="nav nav-tabs">-->
<!--<li class="active"><a href={%url my_listing %} data-toggle="tab">Listing</a></li>-->
<!--<li><a href={% url message_index %} data-toggle="tab">Inbox</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="listing">-->
<!--<a href="{%url add_item %}">Add item</a>-->
<!--{% for item in items%}-->

<!--<div class="span2 msg_margin">-->

<!--<div class="listing_image">{% if item.itemphoto_set.all.0%}-->
<!--{% if item.itemphoto_set.all.0.photo1%}-->
<!--<img src={{item.itemphoto_set.all.0.photo1.url}} />-->
<!--{% else %}-->
<!--No Image-->
<!--{% endif %}-->
<!--{%else%}-->
<!--No Image-->
<!--{% endif %}</div>-->
<!--<form action="{%url item_publish%}" method="POST" name="publish_form">{% csrf_token%}-->

<!--{% ifequal item.is_published 1%}-->
<!--<input type="hidden" value="1" name="is_published">-->
<!--<input type="checkbox" name="is_published_check" checked="checked"  onclick="publish_form.submit()"/>is published<br />-->
<!--{% else  %}-->
<!--<input type="hidden" value="0" name="is_published">-->
<!--<input type="checkbox" name="is_published_check" onclick="publish_form.submit()"/>is published<br />-->
<!--{% endifequal %}-->
<!--<input type="hidden" value="{{item.id}}" name="id">-->
<!--</form>-->
<!--<a href="{%url item_edit item.slug%}" class="btn btn-primary msg_margin">Edit</a>-->
<!--<a href="{%url item_view item.slug%}" class="btn btn-primary msg_margin">View</a>-->
<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post">-->
<!--<input type="hidden" name="cmd" value="_xclick">-->
<!--<input type="hidden" name="business" value="sagar.shirsath2009@gmail.com">-->
<!--<input type="hidden" name="lc" value="IN">-->
<!--<input type="hidden" name="item_name" value="sagar">-->
<!--<input type="hidden" name="item_number" value="217662">-->
<!--<input type="hidden" name="amount" value="78.00">-->
<!--<input type="hidden" name="currency_code" value="USD">-->
<!--<input type="hidden" name="button_subtype" value="services">-->
<!--<input type="hidden" name="no_note" value="0">-->
<!--<input type="hidden" name="tax_rate" value="1.000">-->
<!--<input type="hidden" name="shipping" value="30.00">-->
<!--<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">-->
<!--<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">-->
<!--<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">-->
<!--</form>-->

<!--</div>-->
<!--<div class="span2 msg_margin">-->
<!--<div class="listing_image"></div>-->
<!--<button type="button" class="btn btn-primary msg_margin">Edit</button>-->
<!--</div>-->
<!--<div class="span2 msg_margin">-->
<!--<div class="listing_image"></div>-->
<!--<button type="button" class="btn btn-primary msg_margin">Edit</button>-->
<!--</div>-->

<!--{% endfor%}-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="span2 msg_margin">-->
<!--<div class="listing_image"></div>-->
<!--<button type="button" class="btn btn-primary msg_margin">Edit</button>-->
<!--</div>-->
<!--<div class="span2 msg_margin">-->
<!--<div class="listing_image"></div>-->
<!--<button type="button" class="btn btn-primary msg_margin">Edit</button>-->
<!--</div>-->
<!--<div class="span2 msg_margin">-->
<!--<div class="listing_image"></div>-->
<!--<button type="button" class="btn btn-primary msg_margin">Edit</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

{% load item_template_tags %}
<div class="bannerbg">
    <div class="container">
        <h2 class="innerhead"></h2>

        <div class="innerbanner">
            <!--<img src="{{STATIC_URL}}images/banner.jpg"/>-->
        </div>
    </div>
</div>
<div class="innerbody">
    <div class="container">
        <div class="twocolums">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{%url my_listing %}">Listing</a></li>
                    <li class=""><a href="{% url message_index %}">Inbox</a></li>
                    <li>

                        <div class="lisitnginfo">

                        </div>
                    </li>
                    <li style="float:left; width:100%; text-align:center; margin-top:20px;">
                        <!--<img src="{{STATIC_URL}}images/rightbanner.jpg"/>-->
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="lA">
                        <div class="listingright">
                            <a href="{%url add_item %}" class="btn btn-primary pull-right"
                               style="margin-right: 20px;text-decoration: none">Add item</a>
                            <ul>{% for item in items%}
                                <li class="img-polaroid" style="text-overflow: ellipsis;overflow-x: hidden;text-align: center;padding-bottom: 0px !important;">
                                    <a href="{% url item_delete item.slug %}" style="margin-left: 150px;" alt="delete" class="delete" onclick="return confirm('Are you sure you want to  delete?');"/>
                                    <i class="icon-remove"></i>
                                    </a>

                                    <a href="/items/view/{{item.slug}}">

                                        <div class="productimage">
                                            <!--<img src="images/product01.gif"/>-->
                                            {% if item.itemphoto_set.all.0%}
                                            {% if item.itemphoto_set.all.0.photo1%}
                                            <img src={{item.itemphoto_set.all.0.photo1.url}} height="150px"
                                                 width="150px" style="margin-right: 20px;border: #bbbbbb solid 2px"/>
                                            {% else %}
                                            <img src="{{STATIC_URL}}images/logo pic.jpg" class="img-polaroid item-img" height="150px" width="150px" style="margin-right: 20px;border: #bbbbbb solid 2px">
                                            {% endif %}
                                            {%else%}
                                            <img src="{{STATIC_URL}}images/logo pic.jpg" class="img-polaroid item-img" height="150px" width="150px" style="margin-right: 20px;border: #bbbbbb solid 2px">
                                            {% endif %}
                                        </div>
                                    </a>

                                    <p style="font-weight: lighter"><h3>Name : {{item.name}}</h3></p>

                                    <p style="font-weight: lighter;font-size: 15px">Price : ${{ item.price|two_decimal:1 }}<br>
                                    <a class="btn btn-primary msg_margin" href="{%url item_edit item.slug%}"
                                       style="margin-left: 0px;margin-bottom: 10px;margin-top: 5px; text-decoration: none">Edit</a></p>

                                    <!--<form action="{%url item_publish%}" method="POST" name="publish_form">{%csrf_token%}-->
                                        <!--{% ifequal item.is_published 1%}-->
                                        <!--<input type="hidden" value="1" name="is_published">-->
                                        <!--<input type="checkbox" name="is_published_check" checked="checked"-->
                                               <!--onclick="this.form.submit()"/>Public<br/>-->
                                        <!--{% else %}-->
                                        <!--<input type="hidden" value="0" name="is_published">-->
                                        <!--<input type="checkbox" name="is_published_check" onclick="this.form.submit()"/>Public<br/>-->
                                        <!--{% endifequal %}-->
                                        <!--<input type="hidden" value="{{item.id}}" name="id">-->
                                    <!--</form>-->
                                </li>
                                {% endfor%}
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="lB">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}