{% extends "site_base.html" %}
{%block javascripts%}
        <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-modal.js"></script>
<script type="text/javascript">

    $(document).on('click', '#img2', function () {
        var src = $('#img2-1').val();
        $('#img1').attr('src', src);
    });

    $(document).on('click', '#img3', function () {
        var src = $('#img3-1').val();
        $('#img1').attr('src', src);
    });

    $(document).on('click', '#img4', function () {
        var src = $('#img4-1').val();
        $('#img1').attr('src', src);
    });

     function show_message(id){
        $("#"+id).show("slow");
    };
    $(document).on('click', '#img1', function () {
        $('#item_big_image').attr('src',$(this).attr('src'));
        $('#item_modal').modal();
    });
</script>
{% endblock %}
{% block content%}
<div class="bannerbg">
    <div class="container">
        <h2 class="innerhead"></h2>

        <div class="innerbanner">
            <!--<img src="{{STATIC_URL}}images/banner.jpg"/>-->
        </div>
    </div>
</div>
<div class="container">
    <div class="innerbody" style="background-color: white;">

        <div class="container">
            <ul class="breadcrumb span9 offset1" style="background-color: white;">
                <li><a href="{% url search%}?category={{item.category.name}}">{{item.category.name}}</a> <span
                        class="divider"> > </span></li>
                <li><a href=".">{{item.name}}</a> <span class="divider"> > </span></li>

            </ul>
            <div style="margin-top: 0px;padding-right: 0px;float: left">
            <div style="float:none; margin:0px auto; width:0px;">
                <FORM ACTION="https://www.sandbox.paypal.com/cgi-bin/webscr" METHOD="POST">
                    <INPUT TYPE="hidden" NAME="cmd" VALUE="_xclick">
                    <INPUT TYPE="hidden" NAME="business" VALUE="{{item.seller.email}}">
                    <INPUT TYPE="hidden" NAME="undefined_quantity" VALUE="1">
                    <INPUT TYPE="hidden" NAME="item_name" VALUE="{{item.name}}">
                    <INPUT TYPE="hidden" NAME="item_number" VALUE="{{item.id}}">
                    <INPUT TYPE="hidden" NAME="amount" VALUE="{{item.price}}">
                    <INPUT TYPE="hidden" NAME="shipping" VALUE="0.00">
                    <!--<INPUT TYPE="hidden" NAME="shipping2" VALUE="0.50">-->
                    <INPUT TYPE="hidden" NAME="currency_code" VALUE="USD">
                    <INPUT TYPE="hidden" NAME="first_name" VALUE="{{item.buyer.first_name}}">
                    <INPUT TYPE="hidden" NAME="last_name" VALUE="{{item.buyer.last_name}}">
                    <INPUT TYPE="hidden" NAME="address1" VALUE="{{item.buyer.address}}">
                    <!--<INPUT TYPE="hidden" NAME="address2" VALUE="Apt 5">-->
                    <!--<INPUT TYPE="hidden" NAME="city" VALUE="Berwyn">-->
                    <!--<INPUT TYPE="hidden" NAME="state" VALUE="PA">-->
                    <INPUT TYPE="hidden" NAME="zip" VALUE="{{item.buyer.zip_code}}">
                    <INPUT TYPE="hidden" NAME="lc" VALUE="US">
                    <INPUT TYPE="hidden" NAME="email" VALUE="{{item.buyer.email}}">
                    <INPUT TYPE="hidden" NAME="night_phone_a" VALUE="{{item.buyer.phone_number}}">
                    <input type="hidden" name="return" value="http:e//{{current_site}}/payments/thank_you.htm">
                    <input type="hidden" name="cancel_return" value="http://{{current_site}}/payments/cancel">

                    <!--<INPUT TYPE="hidden" NAME="night_phone_b" VALUE="555">-->
                    <!--<INPUT TYPE="hidden" NAME="night_phone_c" VALUE="1234">-->
                    <!--<INPUT TYPE="image" NAME="submit" BORDER="0" SRC="http://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" ALT="PayPal - The safer, easier way to pay online">-->
                    <!--<img alt="" border="" width="1" height="1" src="https://www.paypal.com/en_US/i/scr/pixel.gif">-->
                    <!--</FORM>-->
                    <div class="container">
                    <div class="row" >
                        <div class="span2">
                            <!--<button type="submit" class="btn btn-info" style="margin-right: 20px; margin-top:0px;">Buy Now</button>-->
                        </div>
                        {%if not user == item.seller %}
                        <div class="span2">
                            <button type="button" class="btn btn-info negotiate"><i class="icon-comment"></i> Negotiate</button>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                    <!--<input type="image" src="http://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">-->
                </form>
                <!--<button type="submit" class="btn btn-info" style="margin-right: 20px; margin-top:30px;">Buy Now</button>-->
            </div>
            </div>
            <div style="float:left; width:50%; margin-top:35px;">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <td width="38%"> <strong>Seller Name</strong></td>
                        {%if user == item.seller %}
                        <td width="62%">{{item.seller.first_name}}&nbsp;&nbsp;{{item.seller.last_name}}</td>
                        {% else %}
                        <td width="62%"> <a href="#" class="negotiate">{{item.seller.first_name}}&nbsp;&nbsp;{{item.seller.last_name}}</a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td width="38%"><strong>Item Name</strong></td>
                        <td width="62%">{{item.name}}</td>
                    </tr>
                    {% if condition%}
                    <tr>
                        <td><strong>Condition</strong></td>
                        <td>{{condition}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Price</strong></td>
                        <td colspan="2">${{ item.price }}</td>
                    </tr>
                    <tr>
                        <td><strong>Location</strong></td>
                        <td colspan="2"><a href="http://maps.google.com/?q={{item.location}}" target="_blank">{{item.location}}</a></td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td colspan="2">{{item.description}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="float:right; width:50%; margin-top:35px;">
                <div class="span4 offset1" style="width:100%; text-align:center; margin-left:0px;">

                    <!--<img src="images/1_35179_1jpg.jpg" name="img1" width="192" height="192" class="img-polaroid"-->
                         <!--id="img1" style="height: 202;width: 202;">-->
                    {% if item.itemphoto_set.all.0.photo1 %}
                    <img src={{item.itemphoto_set.all.0.photo1.url}} class="img-polaroid" id="img1"
                         style="height: 202;width: 202;cursor:pointer;cursor:hand">
                    {% endif %}

                    <div style="margin-top: 10px;">
                        <div class="row" style="width:192px; float:none; margin:0px auto">
                            <table align="center" cellpadding="3" cellspacing="1">

                                <tr>
                                    <td>
                                        <div class="span1">
                                            {% if item.itemphoto_set.all.0.thumbnail1.url and item.itemphoto_set.all.0.photo1.url%}
                                            <div id="big_image_modal"><img src="{{item.itemphoto_set.all.0.thumbnail1.url}} " class="img-polaroid" id="img2" style="cursor:pointer;cursor:hand"></div>
                                            <input type="hidden" name="2rd" value="{{item.itemphoto_set.all.0.photo1.url}} "
                                                   id="img2-1">
                                            {% endif %}

                                            <!--<img src="images/1_thumbnail_35179_1.jpg" class="img-polaroid" id="img2">-->
                                            <!--<input name="2rd" value="/media/images/items/1_35179_1jpg " id="img2-1"-->
                                                   <!--type="hidden">-->

                                        </div>
                                    </td>
                                    <td>
                                        <div class="span1">

                                            <!--<img src="images/1_thumbnail_35234_2.jpg" class="img-polaroid" id="img3">-->
                                            <!--<input name="3rd" value="images/1_35234_2jpg " id="img3-1" type="hidden">-->
                                            {% if item.itemphoto_set.all.0.thumbnail2.url and item.itemphoto_set.all.0.photo2.url%}
                                            <img src="{{item.itemphoto_set.all.0.thumbnail2.url}} " class="img-polaroid" id="img3" style="cursor:pointer;cursor:hand">
                                            <input type="hidden" name="3rd" value="{{item.itemphoto_set.all.0.photo2.url}} "
                                                   id="img3-1">
                                            {% endif %}

                                        </div>
                                    </td>
                                    <td>
                                        <div class="span1">

                                            <!--<img src="images/1_thumbnail_35179_3.jpg" class="img-polaroid" id="img4">-->
                                            <!--<input name="4rd" value="images/1_35179_3jpg " id="img4-1" type="hidden">-->
                                            {% if item.itemphoto_set.all.0.thumbnail3.url and item.itemphoto_set.all.0.photo3.url%}
                                            <img src="{{item.itemphoto_set.all.0.thumbnail3.url}} " class="img-polaroid" id="img4" style="cursor:pointer;cursor:hand">
                                            <input type="hidden" name="4rd" value="{{item.itemphoto_set.all.0.photo3.url}} "
                                                   id="img4-1">
                                            {% endif %}

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>


                    </div>

                </div>
            </div>

            <div class="topbanner">
                <!--<img src="{{STATIC_URL}}images/banner.jpg"/>-->
            </div>
        </div>
    </div>

</div>
<div id="message_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Send Message to Seller</h3>
    </div>
    <div class="modal-body">
        <form action="{%url message_add%}" method="POST">{% csrf_token%}
            <input type="hidden" name="to_user" value="{{item.seller.id}}"/>
            <input type="hidden" name="item_slug" value="{{item.slug}}"/>
        <textarea rows="5" style="width: 520px" name="body"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <!--<button type="button" data-dismiss="modal" class="btn btn-primary">Send</button>-->
        <input type="submit" class="btn btn-primary" value="Send">
        </form>
    </div>
</div>
<script type="text/javascript">
            $(document).on('click','.negotiate',function(){
                $('#message_modal').modal();
            });
</script>

<div id="item_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <!--<h3>Send Message to Seller</h3>-->
    <!--</div>-->
    <div class="modal-body" style="text-align: center;">
        <img src="" id="item_big_image"/>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
{% endblock %}