{% extends "site_base.html" %}
{%block javascripts%}
<script type="text/javascript">

    $(document).on('click','#img2',function(){
        var src = $(this).attr('src');
        $('#img1').attr('src',src);
    });

    $(document).on('click','#img3',function(){
        var src = $(this).attr('src');
        $('#img1').attr('src',src);
    });

    $(document).on('click','#img4',function(){
        var src = $(this).attr('src');
        $('#img1').attr('src',src);
    });

</script>
{% endblock %}
{% block content%}
<div class="navbar span9 offset1">
    <div class="navbar-inner">
        <a class="brand" href="#">Interested ?</a>
        <ul class="nav pull-right">
            <li>
                <button class="btn btn-info" style="margin-right: 20px;">Ask a question</button>
            </li>
            <li>
                <button class="btn btn-info" style="margin-right: 20px;">Add me to waiting list</button>
            </li>
            <li>
                <button class="btn btn-info" style="margin-right: 20px;">Buy Now</button>
            </li>
        </ul>
    </div>
</div>
<ul class="breadcrumb span9 offset1" style="background-color: white;">
    <li><a href="#">PA</a> <span class="divider"> > </span></li>
    <li><a href="#">Lewisburg</a> <span class="divider"> > </span></li>
    <li class="active">Bucknell U</li>
</ul>
<div class="container">
    <div class="row">
        <div class="offset2 span4">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td>Item Name</td>
                    <td>{{item.name}}</td>
                </tr>
                <tr>
                    <td>Condition</td>
                    <td>{{item.condition}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td colspan="2">${{item.price}}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td colspan="2">{{item.location}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td colspan="2">{{item.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span4 offset1">
            <img src={{item.itemphoto_set.all.0.photo1.url}} class="img-polaroid" id="img1" style="height: 202;width: 202;">

            <div class="container" style="margin-top: 10px;">
                <div class="row">
                    <div class="span1">
                        <img src="{{item.itemphoto_set.all.0.thumbnail1.url}} " class="img-polaroid" id="img2">
                    </div>
                    <div class="span1">
                        <img src="{{item.itemphoto_set.all.0.thumbnail2.url}} " class="img-polaroid" id="img3">
                    </div>
                    <div class="span1">
                        <img src="{{item.itemphoto_set.all.0.thumbnail3.url}} " class="img-polaroid" id="img4">
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="offset1">
        Q & A:<br>
        <textarea class="span9" rows="12"></textarea>
    </div>
</div>

{% endblock %}